/**
* Menu button config
*/

$menuBtnSize: 60px;
$menuBtnLineWidth: 28px;
$menuBtnLineThickness: 2px;
$menuBtnLinesSpacing: 6px;
$menuBtnAnimationDuration: 250ms;

/**
* Menu button styles
*/
.menu-button {
  position: relative;

  width: $menuBtnSize;
  height: $menuBtnSize;
  margin-left: 25px;

  color: $black;
  vertical-align: middle;

  background: $white;
  outline: 0;
  cursor: pointer;

  &__lines {
    top: 50%;
    right: 0;
    left: 0;
    margin: ceil(-$menuBtnLineThickness/2) auto 0;
    transition: background $menuBtnAnimationDuration;
    /**
     * .is-active class transforms lines to an X
     */
    .is-active & {
      background: transparent;

      &:before {
        top: 0;
        right: 0;
        left: 0;
        transform: rotate(45deg);
        transition: top $menuBtnAnimationDuration ease 0s,
          transform $menuBtnAnimationDuration ease $menuBtnAnimationDuration;
      }

      &:after {
        right: 0;
        bottom: 0;
        left: 0;
        transform: rotate(-45deg);
        transition: bottom $menuBtnAnimationDuration ease 0s,
          transform $menuBtnAnimationDuration ease $menuBtnAnimationDuration;
      }
    }
  }

  &__lines,
  &__lines:before,
  &__lines:after {
    position: absolute;
    width: $menuBtnLineWidth;
    height: $menuBtnLineThickness;
    background: currentColor;
  }

  &__lines:before,
  &__lines:after {
    content: "";
    right: 5px;
    left: 5px;
    width: auto;
  }

  &__lines:before {
    top: -1 * ($menuBtnLineThickness + $menuBtnLinesSpacing);
    transition: top $menuBtnAnimationDuration ease $menuBtnAnimationDuration,
      transform $menuBtnAnimationDuration ease 0s;
  }

  &__lines:after {
    bottom: -1 * ($menuBtnLineThickness + $menuBtnLinesSpacing);
    transition: bottom $menuBtnAnimationDuration ease $menuBtnAnimationDuration,
      transform $menuBtnAnimationDuration ease 0s;
  }

  @include mq(lg) {
    display: none;
  }
}
