name: Update Docker Hub README

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      
    - name: Update Docker Hub Readme
      uses: peter-evans/dockerhub-description@v2
      env:
        DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USER }}
        DOCKERHUB_PASSWORD: ${{ secrets.DOCKER_PASS }}
        DOCKERHUB_REPOSITORY: ${{ secrets.DOCKER_NAME }}
