# This action will push version-tagged and latest images to Docker Hub
# It requires three secrets to be set:
#   DOCKER_USER: The Docker Hub username
#   DOCKER_PASS: The Docker Hub user's password
#   DOCKER_NAME: The full image name as it appears on Docker Hub

name: Push to Docker Hub

on:
  push:
    tags: ["v*"]

env:
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
  DOCKER_NAME: ${{ secrets.DOCKER_NAME }}
jobs:
  Deploy:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Build image from Dockerfile
        run: docker build . --tag ${DOCKER_NAME}

      - name: "Tag image with version"
        run: docker tag ${DOCKER_NAME} ${DOCKER_NAME}:${GITHUB_REF#refs/tags/v}

      # - name: Store Artifact
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: ${{ DOCKER_NAME }}
      #     path: ./${DOCKER_NAME}
      #     retention-days: 3

      - name: Set up REPO and TAG environment vars
        run: |
          echo "REPO=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
          echo "TAG=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Create GitHub release
        if: ${{ contains(github.ref, 'refs/tags/') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create v${TAG}

      - name: "Deploy to Docker Hub"
        run: |
          docker login --username ${DOCKER_USER} --password ${DOCKER_PASS}
          docker push ${DOCKER_NAME}
          docker push ${DOCKER_NAME}:${GITHUB_REF#refs/tags/v}
